
.mint-cell
  background: rgba(0,0,0,0) !important;
  min-height: 1rem !important;
  .mint-checkbox-core
    width 0.6rem
    height 0.6rem
    &:after
      top 2px
      left 5px
  .mint-checkbox-label
    font-size 0.5rem
    color #424242
.mint-checklist-title
  margin 0